html {
    background: #222;
    height: 100%;
    overflow-y: scroll;
}
body {
    background: none;
    line-height: 1.5;
    color: #f5f5f5;
    font-family: "Oswald", cursive;
}
.container-fluid {
  padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Space Mono", cursive;
}
h1 {
    font-size: 5.3em;
    text-align: center;
}
#home-page {
    background: url("http://www.hdbloggers.net/wp-content/uploads/2016/10/Minimalist-Wallpaper.png") no-repeat center center;
    background-size: cover;
    height: 950px;
    padding-top: 100px;
}
#about-page {
    background: #085078;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, rgb(23, 4, 32), rgb(1, 91, 153));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, rgb(23, 4, 32), rgb(15, 43, 62));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    height: 950px;
    padding-top: 1px;
}
#portfolio-page {
    background: #466368;
    background: -webkit-linear-gradient(to top, #0f5db9, rgb(10, 6, 24));
    background: -moz-linear-gradient(to top, #0f5db9, rgb(10, 6, 24));
    background: linear-gradient(to top, #0f5db9, rgb(10, 6, 24));
    background-size: cover;
    height: 950px;
    padding-top: 1px;

}
#contact-page {
    background: #466368;
    background: -webkit-linear-gradient(to bottom, #0f5db9, rgb(10, 6, 24));
    background: -moz-linear-gradient(to bottom, #0f5db9, rgb(10, 6, 24));
    background: linear-gradient(to bottom, #0f5db9, rgb(10, 6, 24));
    background-size: cover;
    height: 950px;
    padding-top: 1px;
}
.navbar {
    background-color: rgba(158, 40, 180, 0.9);
    margin-bottom: 0px;
    position: fixed;
    width: 100%;

}
.navbar-brand,
.navbar-nav>li>a {
    font-family: "Lobster", cursive;
    color: #ffffff;
    font-size: 1.2em;
}
.navbar-brand:hover,
.navbar-nav>li>a:hover {
    font-family: "Lobster", cursive;
    font-size: 1.2em;
    background: none;
}
.navbar-nav>li>a:after {
    content: '/';
    margin-left: 30px;
}
.navbar-nav>li:last-child>a:after {
    content: '';
}
.navbar-toggle {
    background-color: rgba(110, 9, 129, 0.73);
}
.navbar-toggle .icon-bar {
    background-color: #f5f5f5;
}
@media (max-width: 768px) {
    .navbar-nav>li>a:after {
        content: '';
    }
    .navbar-nav>li>a {
        background-color: transparent;
        background: rgba(110, 9, 129, 0.73);
        border-radius: 4px;
        margin-bottom: 3px;
    }
    h1 {
        font-size: 3.5em;
    }
    #about-page {
        height: auto;
    }
    #portfolio-page {
        height: auto;
    }
    .my-row-properties {
        margin: inherit;
    }
}
h2 {
    text-align: center;
    margin-top: 40px;
}
hr.br-line {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(158, 40, 180, 0.74), rgba(255, 255, 255, 0));
}
.btnList {
    text-align: center;
}
.fa {
    padding-right: 5px;
    position: relative;
    bottom: 2px;
}
.btn-default {
    font-size: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
}
.btn-default:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    filter: invert(80%);
}
p {
    font-size: 1.9em;
    margin-left: 15px;
}
.center-img {
    margin: auto;
}
.col-sm-6 {
    position: inherit;
}
.row {
    margin-top: 60px;
}
.demo-project {
    background-color: aqua;
    display: block;
    text-align: center;
    width: 250px;
    height: 250px;
    margin: auto;
}
.demo-project:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    background-color: darkblue;
    opacity: 0.5;
}
.my-row-properties {
    position: inherit;
}

.fisrt-mountain {
    background: url("https://raw.githubusercontent.com/YuneVK/YuneVK.github.io/master/img/fondouno.png") no-repeat;
    background-position: center bottom;
	z-index: 5;
}

.second-mountain {
    background: url("https://raw.githubusercontent.com/YuneVK/YuneVK.github.io/master/img/fondodos.png") no-repeat;
    background-position: center bottom;
	z-index: 15;
}

.third-mountain {
    background: url("https://raw.githubusercontent.com/YuneVK/YuneVK.github.io/master/img/fondotres.png") no-repeat;
    background-position: center bottom;
	z-index: 25;
}

.firs-mountain, .second-mountain, .third-mountain {
    background-size: cover;
	position: inherit;
	height: 100vh;
	width: 100vw;

}

.home-page-layout > h2{
    margin-top: 550px;
}

.form-group {
    width: 500px;
    margin-left: 30px;
    margin-top: 15px;
}


#contact-page > h1 {
    margin-top: 60px;
}
