html {
    background: #222;
    height: 100%;
    overflow-y: scroll;
}
body {
    background: none;
    line-height: 1.5;
    color: #f5f5f5;
    font-family: "Oswald", cursive;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Space Mono", cursive;
}
h1 {
    font-size: 4em;
    text-align: center;
}
#home-page {
    background: url("https://images.unsplash.com/photo-1475477793686-225275e4c4d9?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=23a48b1ec4687cffabac2d5dacc360b7") no-repeat center center fixed;
    background-size: cover;
    height: 950px;
    padding-top: 100px;
}
#about-page {
    background: url("https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=e77b9e8d61ea6e83540cf48370bec56b") no-repeat center center fixed;
    background-size: cover;
    height: 950px;
    padding-top: 1px;
}
#portfolio-page {
    background: url("https://images.unsplash.com/photo-1467320424268-f91a16cf7c77?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=54cacd977b05f9482f92a3a6c92e8742") no-repeat center center fixed;
    background-size: cover;
    height: 950px;
    padding-top: 1px;
}
#contact-page {
    background: url("https://images.unsplash.com/photo-1472161280498-fa05daa7967b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=907d3dfc15f0bfd01505cb6579d59185") no-repeat center center fixed;
    background-size: cover;
    height: 950px;
    padding-top: 1px;
}
.navbar {
    background-color: rgba(158, 40, 180, 0.9);
    margin-bottom: 0px;
    position: fixed;
    width: 100%
}
.navbar-brand,
.navbar-nav>li>a {
    font-family: "Lobster", cursive;
    color: #ffffff;
    font-size: 1.2em;
}
.navbar-brand:hover,
.navbar-nav>li>a:hover {
    font-family: "Lobster", cursive;
    font-size: 1.2em;
    background: none;
}
.navbar-nav>li>a:after {
    content: '/';
    margin-left: 30px;
}
.navbar-nav>li:last-child>a:after {
    content: '';
}
.navbar-toggle {
    background-color: rgba(110, 9, 129, 0.73);
}
.navbar-toggle .icon-bar {
    background-color: #f5f5f5;
}
@media (max-width: 768px) {
    .navbar-nav>li>a:after {
        content: '';
    }
    .navbar-nav>li>a {
        background-color: transparent;
        background: rgba(110, 9, 129, 0.73);
        border-radius: 4px;
        margin-bottom: 3px;
    }
    h1 {
        font-size: 2em;
    }
    #about-page {
        height: auto;
    }
    #portfolio-page {
        height: auto;
    }
    .my-row-properties {
        margin: inherit;
    }
}
h2 {
    text-align: center;
    margin-top: 40px;
}
hr.br-line {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(158, 40, 180, 0.74), rgba(255, 255, 255, 0));
}
.btnList {
    text-align: center;
}
.fa {
    padding-right: 5px;
    position: relative;
    bottom: 2px;
}
.btn-default {
    font-size: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
}
.btn-default:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    filter: invert(80%);
}
p {
    font-size: 1.9em;
}
.center-img {
    margin: auto;
}
.col-sm-6 {
    position: inherit;
}
.row {
    margin-top: 60px;
}
.demo-project {
    background-color: aqua;
    display: block;
    text-align: center;
    width: 250px;
    height: 250px;
    margin: auto;
}
.demo-project:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    background-color: darkblue;
    opacity: 0.5;
}
.my-row-properties {
    position: inherit;
}


